<div class="panel-group" ng-show="tab.isSet(1)">
  <!-- Dismissable alert with usage instructions -->
  <div class="alert alert-warning">
    <a href class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p><strong>Card Search Tab</strong></p>
    <p>Here you can browse cards to add to your deck. <br/>
    This tab also gives you the ability to search for cards by card trait, card text, card type, card sphere or name.</p>
    <p><em>(Be sure not to use accents! Type 'Gloin' to find Glóin, for instance)</em></p>
    <p>You can also sort the cards by name, sphere, cost, willpower, attack, defense or hitpoints by clicking on the relevant row headers.</p>
    <p><strong>Make sure to go to the 'Packs' tab to select the packs you own - Otherwise you'll only see cards from the Core Set.</strong></p>
  </div>
  <!-- Collapsible panel containing trait, type and sphere filters -->
  <div class="panel panel-default filter-panel hidden-xs" id=filterpanel>
    <div class="panel-heading">
      <h2 class="panel-title clearfix">
        <!-- <a data-toggle="collapse"> <span class="glyphicon glyphicon-filter"></span></a> -->
        <form class="form-inline">
          <div class="form-group form-group-sm">
            <div class="btn-group btn-group-md" style="margin-right: 15px;">
              <button title="Heroes" class="filter-button" ng-class="{selected: cards.filtersettings.type['1hero']}" ng-click="cards.toggleType('1hero',$event)"><ng-include src="'img/types/1hero.svg'"></ng-include></button>
              <button title="Allies" class="filter-button" ng-class="{selected: cards.filtersettings.type['2ally']}" ng-click="cards.toggleType('2ally',$event)"><ng-include src="'img/types/2ally.svg'"></ng-include></button>
              <button title="Attachments" class="filter-button" ng-class="{selected: cards.filtersettings.type['3attachment']}" ng-click="cards.toggleType('3attachment',$event)"><ng-include src="'img/types/3attachment.svg'"></ng-include></button>
              <button title="Events" class="filter-button" ng-class="{selected: cards.filtersettings.type['4event']}" ng-click="cards.toggleType('4event',$event)"><ng-include src="'img/types/4event.svg'"></ng-include></button>
              <button title="Side Quests" class="filter-button" ng-class="{selected: cards.filtersettings.type['5quest']}" ng-click="cards.toggleType('5quest',$event)"><ng-include src="'img/types/5quest.svg'"></ng-include></button>
            </div>
          </div>
          <div class="form-group form-group-sm">
            <div class="btn-group btn-group-md">
              <button title="Leadership" class="filter-button" ng-class="{selected: cards.filtersettings.spheres['1leadership']}" ng-click="cards.toggleSphere('1leadership',$event)"><img src="img/spheres/1leadership.png"/></button>
              <button title="Tactics" class="filter-button" ng-class="{selected: cards.filtersettings.spheres['2tactics']}" ng-click="cards.toggleSphere('2tactics',$event)"><img src="img/spheres/2tactics.png"/></button>
              <button title="Spirit" class="filter-button" ng-class="{selected: cards.filtersettings.spheres['3spirit']}" ng-click="cards.toggleSphere('3spirit',$event)"><img src="img/spheres/3spirit.png"/></button>
              <button title="Lore" class="filter-button" ng-class="{selected: cards.filtersettings.spheres['4lore']}" ng-click="cards.toggleSphere('4lore',$event)"><img src="img/spheres/4lore.png"/></button>
              <button title="Neutral" class="filter-button" ng-class="{selected: cards.filtersettings.spheres['5neutral']}" ng-click="cards.toggleSphere('5neutral',$event)"><img src="img/spheres/5neutral.png"/></button>
              <button title="Baggins" class="filter-button" ng-class="{selected: cards.filtersettings.spheres['6baggins']}" ng-click="cards.toggleSphere('6baggins',$event)"><img src="img/spheres/6baggins.png"/></button>
              <button title="Fellowship" class="filter-button" ng-class="{selected: cards.filtersettings.spheres['7fellowship']}" ng-click="cards.toggleSphere('7fellowship',$event)"><img src="img/spheres/7fellowship.png"/></button>
            </div>
          </div>
          <button class="btn btn-primary pull-right hidden-xs" data-toggle="collapse" data-parent="#filterpanel" data-target="#filterlist"> <span class="glyphicon glyphicon-filter"></span> Advanced Filters </button>
        </form>
      </h2>
    </div>
    <div class="panel-collapse collapse" id="filterlist">
      <div class="list-group">
        <div class="list-group-item">
          <div class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-3" for="traitfilter">Filter by Card Trait:</label>
              <div class="col-sm-9">
                <traits></traits>
              </div>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-3" for="categoryfilter">Filter by Category:</label>
              <div class="col-sm-9">
                <categories></categories>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Filterpanel for small devices -->
  <div class="panel panel-primary visible-xs" id=filterpanel-xs>
    <div class="panel-heading clearfix" data-toggle="collapse" data-parent="#filterpanel-xs" style="cursor: pointer;" data-target="#filterlist-xs">
      <h2 class="panel-title">
        <a data-toggle="collapse"> <span class="glyphicon glyphicon-filter"></span> Show Filters</a>
      </h2>
    </div>
    <div class="panel-collapse collapse" id="filterlist-xs">
      <div class="list-group">
          <div class="list-group-item text-center">
            <div class="btn-group btn-group-justified btn-group-md">
              <button title="Heroes" class="filter-button" ng-class="{selected: cards.filtersettings.type['1hero']}" ng-click="cards.toggleType('1hero',$event)"><ng-include src="'img/types/1hero.svg'"></ng-include></button>
              <button title="Allies" class="filter-button" ng-class="{selected: cards.filtersettings.type['2ally']}" ng-click="cards.toggleType('2ally',$event)"><ng-include src="'img/types/2ally.svg'"></ng-include></button>
              <button title="Attachments" class="filter-button" ng-class="{selected: cards.filtersettings.type['3attachment']}" ng-click="cards.toggleType('3attachment',$event)"><ng-include src="'img/types/3attachment.svg'"></ng-include></button>
              <button title="Events" class="filter-button" ng-class="{selected: cards.filtersettings.type['4event']}" ng-click="cards.toggleType('4event',$event)"><ng-include src="'img/types/4event.svg'"></ng-include></button>
              <button title="Side Quests" class="filter-button" ng-class="{selected: cards.filtersettings.type['5quest']}" ng-click="cards.toggleType('5quest',$event)"><ng-include src="'img/types/5quest.svg'"></ng-include></button>
            </div>
          </div>
          <div class="list-group-item text-center">
            <div class="btn-group btn-group-justified btn-group-md">
              <button title="Leadership" class="filter-button" ng-class="{selected: cards.filtersettings.spheres['1leadership']}" ng-click="cards.toggleSphere('1leadership',$event)"><img src="img/spheres/1leadership.png"/></button>
              <button title="Tactics" class="filter-button" ng-class="{selected: cards.filtersettings.spheres['2tactics']}" ng-click="cards.toggleSphere('2tactics',$event)"><img src="img/spheres/2tactics.png"/></button>
              <button title="Spirit" class="filter-button" ng-class="{selected: cards.filtersettings.spheres['3spirit']}" ng-click="cards.toggleSphere('3spirit',$event)"><img src="img/spheres/3spirit.png"/></button>
              <button title="Lore" class="filter-button" ng-class="{selected: cards.filtersettings.spheres['4lore']}" ng-click="cards.toggleSphere('4lore',$event)"><img src="img/spheres/4lore.png"/></button>
              <button title="Neutral" class="filter-button" ng-class="{selected: cards.filtersettings.spheres['5neutral']}" ng-click="cards.toggleSphere('5neutral',$event)"><img src="img/spheres/5neutral.png"/></button>
              <button title="Baggins" class="filter-button" ng-class="{selected: cards.filtersettings.spheres['6baggins']}" ng-click="cards.toggleSphere('6baggins',$event)"><img src="img/spheres/6baggins.png"/></button>
              <button title="Fellowship" class="filter-button" ng-class="{selected: cards.filtersettings.spheres['7fellowship']}" ng-click="cards.toggleSphere('7fellowship',$event)"><img src="img/spheres/7fellowship.png"/></button>
            </div>
          </div>
          <div class="list-group-item">
            <form class="form-inline">
              <input class="form-control" ng-model="cards.filtersettings.search.name_norm" type="search" placeholder="Search by card name">
            </form>
          </div>
          <div class="list-group-item">
            <form class="form-inline">
              <input class="form-control" ng-model="cards.filtersettings.search.textc" type="search" placeholder="Search by card text">
            </form>
          </div>
          <div class="list-group-item">
            <div class="form">
              <label class="sr-only" for="traitfilter">Filter by trait</label>
              <traits></traits>
            </div>
          </div>
          <div class="list-group-item">
            <div class="form">
              <label class="sr-only" for="traitfilter">Filter by categories</label>
              <categories></categories>
            </div>
          </div>
          <div class="list-group-item">
            <button class="btn btn-primary btn-block" ng-click="cards.resetSearch();"> Reset Filters</button>
          </div>
      </div>
    </div>
  </div>
  <!-- panel containing text filters and cardlist -->
  <div class="panel panel-default" id="cardlistpanel">
    <div class="panel-heading hidden-xs">
      <button type="button" class="btn btn-primary btn-sm pull-right hidden-xs" ng-click="cards.resetSearch();"> Reset </button>
      <form class="form-inline">
        <div class="form-group form-group-sm">
          <input class="form-control" ng-model="cards.filtersettings.search.name_norm" type="search" placeholder="Search by card name">
        </div>
        <div class="form-group form-group-sm">
          <input class="form-control" ng-model="cards.filtersettings.search.textc" type="search" placeholder="Search by card text">
        </div>
      </form>
    </div>
    <div class="list-group">
        <div class="table-responsive">
          <table class="table table-hover cardlist table-condensed">
            <thead>
              <tr>
                <td class="text-center"><a href>Add to Deck</a></td>
                <td class="text-center"><a href ng-click="cards.orderby('name_norm')">Name</a></td>
                <td class="text-center"><a href ng-click="cards.orderby(['sphere','name_norm'])">Sphere</a></td>
                <td class="text-center"><a href ng-click="cards.orderby(['cost','name_norm'])">Cost</a></td>
                <td class="text-center"><a href ng-click="cards.orderby(['type','name_norm'])">Type</a></td>
                <td class="text-center"><a href ng-click="cards.orderby(['-willpower','name_norm'])"><img title="Willpower" src="img/willpower.gif"/></a></td>
                <td class="text-center"><a href ng-click="cards.orderby(['-strength','name_norm'])"><img title="Attack" src="img/strength.gif"/></a></td>
                <td class="text-center"><a href ng-click="cards.orderby(['-defense','name_norm'])"><img title="Defense" src="img/defense.gif"/></a></td>
                <td class="text-center"><a href ng-click="cards.orderby(['-hitpoints','name_norm'])"><img title="Hit Points" src="img/hitpoints.png" style="width:20px;height:20px;"/></a></td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="card in cards.allcards | cardfilter:cards | filter:cards.filtersettings.search | orderBy:cards.order" ng-mouseover="cards.changepreview(card)">
                <td class="text-center">
                  <img class="preload"  ng-src="{{cards.image.loaded && card.img || ''}}" /> <!-- This doesn't preload images if there's an image we want to load right now -->
                  <div class="btn-group btn-group-sm" style="min-width: 115px;">
                    <button class="btn btn-default" ng-class="{'btn-danger': deck.quantity(card)==0}" ng-click="deck.change(card,0)">0</button>
                    <button class="btn btn-default" ng-class="{'btn-success': deck.quantity(card)==1}" ng-click="deck.change(card,1)">1</button>
                    <button class="btn btn-default" ng-class="{'btn-success': deck.quantity(card)==2, 'disabled': (card.type=='1hero' || card.restrict || (cards.filtersettings.onecore && card.corequantity < 2))}" ng-click="deck.change(card,2)">2</button>
                    <button class="btn btn-default" ng-class="{'btn-success': deck.quantity(card)==3, 'disabled': (card.type=='1hero' || card.restrict || (cards.filtersettings.onecore && card.corequantity < 3) || (deck.filtersettings.twocore && card.corequantity < 2 && deck.quantity(card) < 3))}" ng-click="deck.change(card,3)">3</button>
                  </div>
                </td>
                <td class="text-center" data-toggle="modal" data-target="#previewModal">
                  <img class="unique" src="img/unique.png" ng-show="card.unique"/>
                  {{card.name}}</td>
                <td class="text-center" data-toggle="modal" data-target="#previewModal"><img class="img-sphere" src="img/spheres/{{card.sphere}}.png"/></td>
                <td class="text-center" data-toggle="modal" data-target="#previewModal">{{card.cost}}</td>
                <td class="text-center" data-toggle="modal" data-target="#previewModal"><img class="img-cardtype" src="img/types/{{card.type}}.svg"/></td>
                <td class="text-center" data-toggle="modal" data-target="#previewModal">{{card.willpower}}</td>
                <td class="text-center" data-toggle="modal" data-target="#previewModal">{{card.strength}}</td>
                <td class="text-center" data-toggle="modal" data-target="#previewModal">{{card.defense}}</td>
                <td class="text-center" data-toggle="modal" data-target="#previewModal">{{card.hitpoints}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
