<div class="panel-group" ng-show="tab.isSet(1)">
  <!-- Collapsible panel containing trait, type and sphere filters -->
  <div class="panel panel-default" id=filterpanel>
    <div class="panel-heading" data-toggle="collapse" data-parent="#filterpanel" style="cursor: pointer" href="#filterlist">
      <h2 class="panel-title">
        <a data-toggle="collapse"> <span class="glyphicon glyphicon-filter"></span> Show Filters</a>
      </h2>
    </div>
    <div class="panel-collapse collapse" id="filterlist">
      <div class="list-group">
          <div class="list-group-item">
            <div class="form">
              <label class="sr-only" for="traitfilter">Filter by trait</label>
                <traits></traits>
            </div>
          </div>
          <div class="list-group-item">
            <div class="btn-group btn-group-justified btn-group-md">
              <div class="btn-group">
                <button title="Heroes" class="btn btn-default" ng-class="{'btn-info': cards.filtersettings.type['1hero']}" ng-click="cards.toggleType('1hero',$event)"><img src="img/types/1hero.png"/></button>
              </div>
              <div class="btn-group">
                <button title="Allies" class="btn btn-default" ng-class="{'btn-info': cards.filtersettings.type['2ally']}" ng-click="cards.toggleType('2ally',$event)"><img src="img/types/2ally.png"/></button>
              </div>
              <div class="btn-group">
                <button title="Attachments" class="btn btn-default" ng-class="{'btn-info': cards.filtersettings.type['3attachment']}" ng-click="cards.toggleType('3attachment',$event)"><img src="img/types/3attachment.png"/></button>
              </div>
              <div class="btn-group">
                <button title="Events" class="btn btn-default" ng-class="{'btn-info': cards.filtersettings.type['4event']}" ng-click="cards.toggleType('4event',$event)"><img src="img/types/4event.png"/></button>
              </div>
              <div class="btn-group">
                <button title="Side Quests" class="btn btn-default" ng-class="{'btn-info': cards.filtersettings.type['5quest']}" ng-click="cards.toggleType('5quest',$event)"><img src="img/types/5quest.png"/></button>
              </div>
            </div>
          </div>
          <div class="list-group-item">
            <div class="btn-group btn-group-justified btn-group-md">
              <div class="btn-group">
                <button title="Leadership" class="btn btn-default" ng-class="{'btn-info': cards.filtersettings.spheres['1leadership']}" ng-click="cards.toggleSphere('1leadership',$event)"><img src="img/spheres/1leadership.png"/></button>
              </div>
              <div class="btn-group">
                <button title="Tactics" class="btn btn-default" ng-class="{'btn-info': cards.filtersettings.spheres['2tactics']}" ng-click="cards.toggleSphere('2tactics',$event)"><img src="img/spheres/2tactics.png"/></button>
              </div>
              <div class="btn-group">
                <button title="Spirit" class="btn btn-default" ng-class="{'btn-info': cards.filtersettings.spheres['3spirit']}" ng-click="cards.toggleSphere('3spirit',$event)"><img src="img/spheres/3spirit.png"/></button>
              </div>
              <div class="btn-group">
                <button title="Lore" class="btn btn-default" ng-class="{'btn-info': cards.filtersettings.spheres['4lore']}" ng-click="cards.toggleSphere('4lore',$event)"><img src="img/spheres/4lore.png"/></button>
              </div>
              <div class="btn-group">
                <button title="Neutral" class="btn btn-default" ng-class="{'btn-info': cards.filtersettings.spheres['5neutral']}" ng-click="cards.toggleSphere('5neutral',$event)"><img src="img/spheres/5neutral.png"/></button>
              </div>
              <div class="btn-group">
                <button title="Baggins" class="btn btn-default" ng-class="{'btn-info': cards.filtersettings.spheres['6baggins']}" ng-click="cards.toggleSphere('6baggins',$event)"><img src="img/spheres/6baggins.png"/></button>
              </div>
              <div class="btn-group">
                <button title="Fellowship" class="btn btn-default" ng-class="{'btn-info': cards.filtersettings.spheres['7fellowship']}" ng-click="cards.toggleSphere('7fellowship',$event)"><img src="img/spheres/7fellowship.png"/></button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!-- panel containing text filters and cardlist -->
  <div class="panel panel-default" id="cardlistpanel">
    <div class="panel-heading">
      <button type="button" class="btn btn-primary btn-sm pull-right hidden-xs" ng-click="cards.resetSearch();"> Reset </button>
      <form class="form-inline">
        <div class="form-group form-group-sm">
          <input class="form-control" ng-model="cards.filtersettings.search.name_norm" type="search" placeholder="Search by card name">
        </div>
        <div class="form-group form-group-sm">
          <input class="form-control" ng-model="cards.filtersettings.search.textc" type="search" placeholder="Search by card text">
        </div>
      </form>
      <!-- block-sized reset button only visible on small devices -->
      <button type="button" class="btn btn-primary btn-block btn-sm visible-xs" ng-click="cards.resetSearch();"> Reset </button>
    </div>
    <div class="list-group">
      <div class="list-group-item">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <td class="text-center"></td>
                <td><a href ng-click="cards.orderby('name_norm')">Name</a></td>
                <td class="text-center"><a href ng-click="cards.orderby(['sphere','name_norm'])">Sphere</a></td>
                <td class="text-center"><a href ng-click="cards.orderby(['cost','name_norm'])">Cost</a></td>
                <td class="text-center"><a href ng-click="cards.orderby(['type','name_norm'])">Type</a></td>
                <td class="text-center"><a href ng-click="cards.orderby(['-willpower','name_norm'])"><img title="Willpower" src="img/willpower.gif"/></a></td>
                <td class="text-center"><a href ng-click="cards.orderby(['-strength','name_norm'])"><img title="Attack" src="img/strength.gif"/></a></td>
                <td class="text-center"><a href ng-click="cards.orderby(['-defense','name_norm'])"><img title="Defense" src="img/defense.gif"/></a></td>
                <td class="text-center"><a href ng-click="cards.orderby(['-hitpoints','name_norm'])"><img title="Hit Points" src="img/hitpoints.png" style="width:20px;height:20px;"/></a></td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="card in cards.allcards | cardfilter:cards | filter:cards.filtersettings.search | orderBy:cards.order" class="cardrow" ng-mouseover="cards.changepreview(card)">
                <td class="text-center">
                  <img class="preload"  ng-src="{{cards.image.loaded && card.img || ''}}" /> <!-- This doesn't preload images if there's an image we want to load right now -->
                  <button class="cardbutton" ng-class="{selected: deck.quantity(card)==0}" ng-click="deck.change(card,0)">0</button>
                  <button class="cardbutton" ng-class="{selected: deck.quantity(card)==1}" ng-click="deck.change(card,1)">1</button>
                  <button class="cardbutton" ng-class="{selected: deck.quantity(card)==2}" ng-click="deck.change(card,2)" ng-hide="card.type=='1hero' || card.restrict || (cards.filtersettings.onecore && card.corequantity < 2)">2</button>
                  <button class="cardbutton" ng-class="{selected: deck.quantity(card)==3}" ng-click="deck.change(card,3)" ng-hide="card.type=='1hero' || card.restrict || (cards.filtersettings.onecore && card.corequantity < 3) || (deck.filtersettings.twocore && card.corequantity < 2 && deck.quantity(card) < 3)">3</button>
                </td>
                <td>
                  <img class="unique" src="img/unique.png" ng-show="card.unique"/>
                  {{card.name}}</td>
                <td class="text-center"><img src="img/spheres/{{card.sphere}}.png"/></td>
                <td class="text-center">{{card.cost}}</td>
                <td class="text-center"><img src="img/types/{{card.type}}.png"/></td>
                <td class="text-center">{{card.willpower}}</td>
                <td class="text-center">{{card.strength}}</td>
                <td class="text-center">{{card.defense}}</td>
                <td class="text-center">{{card.hitpoints}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
