<div ng-show="tab.isSet(1) || tab.isSet(3) || tab.isSet(4)">
  <!-- panel containing deck name and total card count -->
  <div class="panel panel-primary" ng-show="deck.countHeroes()">
    <div class="panel-heading">
      <h3 class="panel-title">{{(deck.deckname) || "Custom Deck"}} <span class="pull-right"> {{deck.countTotal()}} </span></h3>
    </div>
  </div>

  <!-- collapsible panel group for all cards (replaces old table) -->
  <div class="panel-group" id="deckpanel">
    <div class="panel panel-default" id="heropanel" ng-show="deck.countHeroes()">
      <div class="panel-heading" data-toggle="collapse" data-parent="#heropanel" style="cursor: pointer" data-target="#herolist">
         <h2 class="panel-title">
           <a data-toggle="collapse" data-target="#herolist"><img class="img-cardtype" src="img/types/1hero.svg"/> Heroes <span class="pull-right text-danger">Threat: {{deck.startingThreat()}}</span> </a>
         </h2>
      </div>
      <div id="herolist" class="panel-collapse collapse in">
        <table class="table table-hover">
          <tr class="card" ng-repeat="card in deck['1hero'] | orderBy:['sphere','name_norm']" ng-mouseover="deckC.changepreview(card)">
            <td class="col-xs-5">
              <button class="btn btn-danger btn-sm" ng-class="{selected: deck.quantity(card)==0}" ng-click="deck.change(card,0)">X</button>
              <div class="btn-group btn-group-sm">
                <button class="btn btn-success">1</button>
                <button class="btn btn-default disabled">2</button>
                <button class="btn btn-default disabled">3</button>
              </div>
            </td>
            <td class="c{{card.sphere}} col-xs-7" data-toggle="modal" data-target="#previewModal">{{card.name}}</td>
          </td>
        </table>
       </div>
     </div>

     <div class="panel panel-default" id="allypanel" ng-show="deck.countAllies()">
       <div class="panel-heading" data-toggle="collapse" data-parent="#allypanel" style="cursor: pointer" data-target="#allylist">
          <h2 class="panel-title">
            <a data-toggle="collapse" data-target="#allylist"><img class="img-cardtype" src="img/types/2ally.svg"/> Allies <span class="pull-right"> {{deck.countAllies()}} </span> </a>
          </h2>
       </div>
       <div id="allylist" class="panel-collapse collapse">
         <table class="table table-hover">
           <tr class="card" ng-repeat="card in deck['2ally'] | orderBy:['sphere','name_norm']" ng-mouseover="deckC.changepreview(card)">
             <td class="col-xs-5">
               <button class="btn btn-danger btn-sm" ng-class="{selected: deck.quantity(card)==0}" ng-click="deck.change(card,0)">X</button>
               <div class="btn-group btn-group-sm">
                 <button class="btn btn-default" ng-class="{'btn-success': deck.quantity(card)==1}" ng-click="deck.change(card,1)">1</button>
                 <button class="btn btn-default" ng-class="{'btn-success': deck.quantity(card)==2, 'disabled': (card.restrict || (deck.filtersettings.onecore && card.corequantity < 2 && deck.quantity(card)<2 ))}" ng-click="deck.change(card,2)">2</button>
                 <button class="btn btn-default" ng-class="{'btn-success': deck.quantity(card)==3, 'disabled': (card.restrict || (deck.filtersettings.onecore && card.corequantity < 3 && deck.quantity(card)<3 ) || (deck.filtersettings.twocore && card.corequantity < 2 && deck.quantity(card) < 3))}" ng-click="deck.change(card,3)">3</button>
               </div>
             </td>
             <td class="c{{card.sphere}} col-xs-7" data-toggle="modal" data-target="#previewModal">{{card.name}}</td>
           </tr>
         </table>
        </div>
      </div>

      <div class="panel panel-default" id="attachmentpanel" ng-show="deck.countAttachments()">
        <div class="panel-heading" data-toggle="collapse" data-parent="#attachmentpanel" style="cursor: pointer" data-target="#attachmentlist">
           <h2 class="panel-title">
             <a data-toggle="collapse" data-target="#attachmentlist"><img class="img-cardtype" src="img/types/3attachment.svg"/> Attachments <span class="pull-right"> {{deck.countAttachments()}} </span> </a>
           </h2>
        </div>
        <div id="attachmentlist" class="panel-collapse collapse">
          <table class="table table-hover">
            <tr class="card" ng-repeat="card in deck['3attachment'] | orderBy:['sphere','name_norm']" ng-mouseover="deckC.changepreview(card)">
              <td class="col-xs-5">
                <button class="btn btn-danger btn-sm" ng-class="{selected: deck.quantity(card)==0}" ng-click="deck.change(card,0)">X</button>
                <div class="btn-group btn-group-sm">
                  <button class="btn btn-default" ng-class="{'btn-success': deck.quantity(card)==1}" ng-click="deck.change(card,1)">1</button>
                  <button class="btn btn-default" ng-class="{'btn-success': deck.quantity(card)==2, 'disabled': (card.restrict || (deck.filtersettings.onecore && card.corequantity < 2 && deck.quantity(card)<2 ))}" ng-click="deck.change(card,2)">2</button>
                  <button class="btn btn-default" ng-class="{'btn-success': deck.quantity(card)==3, 'disabled': (card.restrict || (deck.filtersettings.onecore && card.corequantity < 3 && deck.quantity(card)<3 ) || (deck.filtersettings.twocore && card.corequantity < 2 && deck.quantity(card) < 3))}" ng-click="deck.change(card,3)">3</button>
                </div>
              </td>
              <td class="c{{card.sphere}} col-xs-7" data-toggle="modal" data-target="#previewModal">{{card.name}}</td>
            </tr>
          </table>
         </div>
       </div>

       <div class="panel panel-default" id="eventpanel" ng-show="deck.countEvents()">
         <div class="panel-heading" data-toggle="collapse" data-parent="#eventpanel" style="cursor: pointer" data-target="#eventlist">
            <h2 class="panel-title">
              <a data-toggle="collapse" data-target="#eventlist"><img class="img-cardtype" src="img/types/4event.svg"/> Events <span class="pull-right"> {{deck.countEvents()}} </span> </a>
            </h2>
         </div>
         <div id="eventlist" class="panel-collapse collapse">
           <table class="table table-hover">
             <tr class="card" ng-repeat="card in deck['4event'] | orderBy:['sphere','name_norm']" ng-mouseover="deckC.changepreview(card)">
              <td class="col-xs-5">
                <button class="btn btn-danger btn-sm" ng-class="{selected: deck.quantity(card)==0}" ng-click="deck.change(card,0)">X</button>
                <div class="btn-group btn-group-sm">
                  <button class="btn btn-default" ng-class="{'btn-success': deck.quantity(card)==1}" ng-click="deck.change(card,1)">1</button>
                  <button class="btn btn-default" ng-class="{'btn-success': deck.quantity(card)==2, 'disabled': (card.restrict || (deck.filtersettings.onecore && card.corequantity < 2 && deck.quantity(card)<2 ))}" ng-click="deck.change(card,2)">2</button>
                  <button class="btn btn-default" ng-class="{'btn-success': deck.quantity(card)==3, 'disabled': (card.restrict || (deck.filtersettings.onecore && card.corequantity < 3 && deck.quantity(card)<3 ) || (deck.filtersettings.twocore && card.corequantity < 2 && deck.quantity(card) < 3))}" ng-click="deck.change(card,3)">3</button>
                </div>
              </td>
              <td class="c{{card.sphere}} col-xs-7" data-toggle="modal" data-target="#previewModal">{{card.name}}</td>
           </tr>
         </table>
        </div>
      </div>

      <div class="panel panel-default" id="questpanel" ng-show="deck.countQuests()">
        <div class="panel-heading" data-toggle="collapse" data-parent="#questpanel" style="cursor: pointer" data-target="#questlist">
           <h2 class="panel-title">
             <a data-toggle="collapse" data-target="#questlist"><img class="img-cardtype" src="img/types/5quest.svg"/> Sidequests <span class="pull-right"> {{deck.countQuests()}} </span> </a>
           </h2>
        </div>
        <div id="questlist" class="panel-collapse collapse">
          <table class="table table-hover">
            <tr class="card" ng-repeat="card in deck['5quest'] | orderBy:['sphere','name_norm']" ng-mouseover="deckC.changepreview(card)">
              <td class="col-xs-5">
                <button class="btn btn-danger btn-sm" ng-class="{selected: deck.quantity(card)==0}" ng-click="deck.change(card,0)">X</button>
                <div class="btn-group btn-group-sm">
                  <button class="btn btn-default" ng-class="{'btn-success': deck.quantity(card)==1}" ng-click="deck.change(card,1)">1</button>
                  <button class="btn btn-default" ng-class="{'btn-success': deck.quantity(card)==2, 'disabled': (card.restrict || (deck.filtersettings.onecore && card.corequantity < 2 && deck.quantity(card)<2 ))}" ng-click="deck.change(card,2)">2</button>
                  <button class="btn btn-default" ng-class="{'btn-success': deck.quantity(card)==3, 'disabled': (card.restrict || (deck.filtersettings.onecore && card.corequantity < 3 && deck.quantity(card)<3 ) || (deck.filtersettings.twocore && card.corequantity < 2 && deck.quantity(card) < 3))}" ng-click="deck.change(card,3)">3</button>
                </div>
              </td>
              <td class="c{{card.sphere}} col-xs-7" data-toggle="modal" data-target="#previewModal">{{card.name}}</td>
          </tr>
        </table>
       </div>
     </div>
   </div>
</div>
