<!-- Header with navbar (replaces tabs) -->
</div><nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img class="pull-left" src="img/logo-mark.png" alt="" /> The Rivendell Councilroom</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar">
            <section class="tab">
              <ul class="nav navbar-nav navbar-right">
                <li ng-class="{'active': tab.isSet(1)}">
                  <a href ng-click="tab.setTab(1)" data-toggle="collapse" data-target=".navbar-collapse.in">Cards</a></li>
                <li ng-class="{'active': tab.isSet(2)}">
                  <a href ng-click="tab.setTab(2)" data-toggle="collapse" data-target=".navbar-collapse.in">Packs</a></li>
                <li ng-class="{'active': tab.isSet(3)}">
                  <a href ng-click="tab.setTab(3)" data-toggle="collapse" data-target=".navbar-collapse.in">Decks</a></li>
                <li ng-class="{'active': tab.isSet(4)}">
                  <a href ng-click="tab.setTab(4)" data-toggle="collapse" data-target=".navbar-collapse.in">Stats</a></li>
                <li ng-class="{'active': tab.isSet(5)}">
                  <a href ng-click="tab.setTab(5)" data-toggle="collapse" data-target=".navbar-collapse.in">About</a></li>
                <!-- <li>
                  <a href ng-click="tab.setTab(6)" ng-class="{activetab: tab.isSet(6)}">Updates</a></li> -->
              </ul>
            </section>
          </div>
      </div>
</nav></div>
