<div ng-show="tab.isSet(3)">

  <div class="alert alert-danger">
    <a href class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p><strong>The deck storage has gone through a lot of changes recently and is still very much in development.</strong></p>
    <p><strong>If any of your decks get lost as a result of this, I apologize for the inconvenience.</strong></p>
  </div>

  <div class="alert alert-warning">
    <a href class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p><strong>Decks are saved locally in your browser storage.</strong></p>
    <p>This means that any decks you create on this machine will only be available on this machine.
    If you want to access your decks somewhere else, please download and upload them.</p>
    <p>You can share your decks by copying the link that appears in the location bar of your when you save or load it.
    Uploaded decks can either be a file that was downloaded here, or an OCTGN file.</p>
    <strong>Be sure to save your decks after uploading!</strong>
  </div>

  <div class="panel panel-default"><div class="panel-body">
    <form class="form-inline" role="form">
      <div class="form-group">
        <label for="deckname" class="sr-only">Deckname:</label>
        <input type="text" placeholder="Custom Deck" class="form-control" id="deckname" ng-model="mydecks.currentdeck.deckname">
      </div>
      <button type="submit" class="btn btn-success" ng-click="mydecks.saveDeck(mydecks.currentdeck.deckname)"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
      <label class="btn btn-default" for="deckfile-selector">
          <span class="glyphicon glyphicon-import"></span> Upload
          <input name="upload" type="file" style="display:none;" onchange="angular.element(this).scope().mydecks.uploadDeck(event)" accept=".txt,.o8d" id="deckfile-selector">
      </label>
      <button class="btn btn-danger"  ng-click="mydecks.clearDeck()"><span class="glyphicon glyphicon-trash"></span> Clear Deck</button>
    </form>
    <form role="form">
      <textarea class="form-control decknotes-area" ng-model="decknotes" rows="4" placeholder="You can type notes about your deck here. Use this for strategy tips, notes about proxies for future cards, or whatever you want.">></textarea>
    </form>
  </div></div>

  <div class="panel panel-default" ng-show="mydecks.numberOfDecks()">
    <div class="panel-heading">
      <h3 class="panel-title">Saved Decks</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="deck in mydecks.decks | toArray | orderBy:'-dateUTC' track by $index">
        <form class="form-inline" role="form">
          <div class="form-group">
            <h4>{{deck.deckname}} <small>{{deck.dateUTC|date:'medium'}}</small></h4>
          </div>
          <div class="form-group pull-right hidden-xs">
            <button class="btn btn-primary"  ng-click="mydecks.loadDeck(deck.deckname)"><span class="glyphicon glyphicon-floppy-saved"></span> Load</button>
            <button class="btn btn-default"  ng-click="mydecks.downloadDeck(deck.deckname)"><span class="glyphicon glyphicon-export"></span> Export</button>
            <button class="btn btn-default"  ng-click="mydecks.octgn(deck.deckname)"><span class="glyphicon glyphicon-book"></span> OCTGN</button>
            <button class="btn btn-danger"  ng-click="mydecks.deleteDeck(deck.deckname)"><span class="glyphicon glyphicon-trash"></span> Delete Deck</button>
          </div>
          <div class="clearfix"></div>
          <!-- Icon-only buttons and dropdown menu for small screens -->
          <div class="form-group visible-xs">
              <button class="btn btn-primary"  ng-click="mydecks.loadDeck(deck.deckname)"><span class="glyphicon glyphicon-floppy-saved"></span></button>
              <button class="btn btn-danger"  ng-click="mydecks.deleteDeck(deck.deckname)"><span class="glyphicon glyphicon-trash"></span></button>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-export"></span> Export <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" ng-click="mydecks.octgn(deck.deckname)"><span class="glyphicon glyphicon-file"></span> Text file</a></li>
                <li><a href="#" ng-click="mydecks.octgn(deck.deckname)"><span class="glyphicon glyphicon-book"></span> OCTGN</a></li>
              </ul>
          </div>
        </form>
      </li>
    </ul>
  </div>

</div>
