<div class="container" ng-show="tab.isSet(2)">
  <!-- Dismissable alert with usage instructions -->
  <div class="alert alert-warning">
    <a href class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p><strong>Here you can select which expansion packs you own.</strong></p>
    <p>Only cards from these packs will show up in the 'Card Search' and 'Suggested Cards' tabs.<br/>
    The packs you've selected are stored in your browser data and will be remembered for subsequent visits to the deckbuilder.</p>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="btn-group btn-group-justified">
              <div class="btn-group">
                <button class="btn btn-primary" ng-click="packs.selectAll()">Select All Packs</button>
              </div>
              <div class="btn-group">
                <button class="btn btn-primary" ng-click="packs.selectNone()">Select None</button>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="btn-group btn-group-justified hidden-xs">
              <div class="btn-group">
                <button class="btn btn-info" ng-click="packs.toggleonecore()" ng-class="{'active': packs.filtersettings.onecore}">Limit to 1 Core Set</button>
              </div>
              <div class="btn-group">
                <button class="btn btn-info" ng-click="packs.toggletwocore()" ng-class="{'active': packs.filtersettings.twocore}">Limit to 2 Core Sets</button>
              </div>
            </div>
            <div class="btn-group btn-group-justified visible-xs">
              <div class="btn-group">
                <button class="btn btn-info" ng-click="packs.toggleonecore()" ng-class="{'active': packs.filtersettings.onecore == true}">1 Core Set</button>
              </div>
              <div class="btn-group">
                <button class="btn btn-info" ng-click="packs.toggletwocore()" ng-class="{'active': packs.filtersettings.twocore == true}">2 Core Sets</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default pack-panel">
        <div class="panel-heading clearfix">
          <button class="btn btn-warning btn-sm pull-right" ng-click="packs.selectNone('core')">Select None</button>
          <button class="btn btn-success btn-sm pull-right" ng-click="packs.selectAll('core')">Select All</button>
          <h2 class="panel-title">Core Set - Mirkwood Cycle</h2>
        </div>
        <select class="form-control" ng-model="packs.core" ng-change="packs.update()" size="7" multiple>
          <option ng-selected="packs.filtersettings.pack.indexOf('core')>=0" value="core"> <strong>Core Set</strong> </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('thfg')>=0" value="thfg"> The Hunt for Gollum </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('catc')>=0" value="catc"> Conflict at the Carrock </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('ajtr')>=0" value="ajtr"> A Journey to Rhosgobel </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('thoem')>=0" value="thoem"> The Hills of Emyn Muil </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('tdm')>=0" value="tdm"> The Dead Marshes </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('rtm')>=0" value="rtm"> Return to Mirkwood </option>
        </select>
      </div>

      <div class="panel panel-default pack-panel">
        <div class="panel-heading clearfix">
          <button class="btn btn-warning btn-sm pull-right" ng-click="packs.selectNone('kd')">Select None</button>
          <button class="btn btn-success btn-sm pull-right" ng-click="packs.selectAll('kd')">Select All</button>
          <h2 class="panel-title">Dwarrowdelf Cycle</h2>
        </div>
        <select class="form-control" ng-model="packs.kd" ng-change="packs.update()" size="5" multiple>
          <option ng-selected="packs.filtersettings.pack.indexOf('kd')>=0" value="kd"> <strong>Khazad-Dûm (Deluxe Expansion)</strong> </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('trg')>=0" value="trg"> The Redhorn Gate </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('rtr')>=0" value="rtr"> Road to Rivendell </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('twitw')>=0" value="twitw"> The Watcher in the Water </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('tld')>=0" value="tld"> The Long Dark </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('fos')>=0" value="fos"> Foundations of Stone </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('saf')>=0" value="saf"> Shadow and Flame </option>
        </select>
      </div>

      <div class="panel panel-default pack-panel">
        <div class="panel-heading clearfix">
          <button class="btn btn-warning btn-sm pull-right" ng-click="packs.selectNone('voi')">Select None</button>
          <button class="btn btn-success btn-sm pull-right" ng-click="packs.selectAll('voi')">Select All</button>
          <h2 class="panel-title">The Ringmaker Cycle</h2>
        </div>
        <select class="form-control" ng-model="packs.voi" ng-change="packs.update()" size="5" multiple>
          <option ng-selected="packs.filtersettings.pack.indexOf('voi')>=0" value="voi"> <strong>The Voice of Isengard (Deluxe Expansion)</strong> </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('tdt')>=0" value="tdt"> The Dunland Trap</option>
          <option ng-selected="packs.filtersettings.pack.indexOf('ttt')>=0" value="ttt"> The Three Trials </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('tit')>=0" value="tit"> Trouble in Tharbad </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('nie')>=0" value="nie"> The Nîn-in-Eilph </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('cs')>=0" value="cs"> Celebrimbor's Secret </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('tac')>=0" value="tac"> The Antlered Crown </option>
        </select>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default pack-panel">
        <div class="panel-heading clearfix">
          <button class="btn btn-warning btn-sm pull-right" ng-click="packs.selectNone('saga')">Select None</button>
          <button class="btn btn-success btn-sm pull-right" ng-click="packs.selectAll('saga')">Select All</button>
          <h2 class="panel-title">Saga Packs</h2>
        </div>
        <select class="form-control" ng-model="packs.saga" ng-change="packs.update()" size="7" multiple>
          <option ng-selected="packs.filtersettings.pack.indexOf('thohauh')>=0" value="thohauh"> The Hobbit - Over Hill and Under Hill </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('thotd')>=0" value="thotd"> The Hobbit - On the Doorstep </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('tbr')>=0" value="tbr"> The Black Riders</option>
          <option ng-selected="packs.filtersettings.pack.indexOf('rd')>=0" value="rd"> The Road Darkens </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('tos')>=0" value="tos"> The Treason of Saruman </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('tlos')>=0" value="tlos"> The Land of Shadow </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('tfotw')>=0" value="tfotw" disabled=""> The Flame of the West </option>
        </select>
      </div>

      <div class="panel panel-default pack-panel">
        <div class="panel-heading clearfix">
          <button class="btn btn-warning btn-sm pull-right" ng-click="packs.selectNone('hon')">Select None</button>
          <button class="btn btn-success btn-sm pull-right" ng-click="packs.selectAll('hon')">Select All</button>
          <h2 class="panel-title">Against the Shadows Cycle</h2>
        </div>
        <select class="form-control" ng-model="packs.hon" ng-change="packs.update()" size="5" multiple>
          <option ng-selected="packs.filtersettings.pack.indexOf('hon')>=0" value="hon"> <strong>Heirs of Númenor (Deluxe Expansion)</strong> </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('tsf')>=0" value="tsf"> The Steward's Fear </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('tdf')>=0" value="tdf"> The Drúadan Forest </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('eaad')>=0" value="eaad"> Encounter at Amon Dîn </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('aoo')>=0" value="aoo"> Assault on Osgiliath </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('tbog')>=0" value="tbog"> The Blood of Gondor </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('tmv')>=0" value="tmv"> The Morgul Vale </option>
        </select>
      </div>

      <div class="panel panel-default pack-panel">
        <div class="panel-heading clearfix">
          <button class="btn btn-warning btn-sm pull-right" ng-click="packs.selectNone('tlr')">Select None</button>
          <button class="btn btn-success btn-sm pull-right" ng-click="packs.selectAll('tlr')">Select All</button>
          <h2 class="panel-title">Angmar Awakens Cycle</h2>
        </div>
        <select class="form-control" ng-model="packs.tlr" ng-change="packs.update()" size="4" multiple>
          <option ng-selected="packs.filtersettings.pack.indexOf('tlr')>=0" value="tlr"> <strong>The Lost Realm (Deluxe Expansion)</strong> </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('twoe')>=0" value="twoe"> The Wastes of Eriador </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('efmg')>=0" value="efmg"> Escape from Mount Gram </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('ate')>=0" value="ate"> Across the Ettenmoors </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('ttor')>=0" value="ttor"> The Treachery of Rhudaur </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('tbocd')>=0" value="tbocd"> The Battle of Carn Dûm </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('tdr')>=0" value="tdr"> The Dread Realm </option>
        </select>
      </div>

      <div class="panel panel-default pack-panel">
        <div class="panel-heading clearfix">
          <button class="btn btn-warning btn-sm pull-right" ng-click="packs.selectNone('tgh')">Select None</button>
          <button class="btn btn-success btn-sm pull-right" ng-click="packs.selectAll('tgh')">Select All</button>
          <h2 class="panel-title">The Dreamchaser Cycle</h2>
        </div>
        <select class="form-control" ng-model="packs.tgh" ng-change="packs.update()" multiple>
          <option ng-selected="packs.filtersettings.pack.indexOf('tgh')>=0" value="tgh"> <strong>The Grey Havens (Deluxe Expansion)</strong> </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('')>=0" value="" disabled> Flight of the Stormcaller </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('')>=0" value="" disabled> The Thing in the Depths </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('')>=0" value="" disabled> Temple of the Deceived </option>
          <option ng-selected="packs.filtersettings.pack.indexOf('')>=0" value="" disabled>  The Drowned Ruins </option>
        </select>
      </div>
    </div>
  </div>
</div>
