<div ng-show="tab.isSet(4)">
  <div class="alert alert-warning">
    <a href class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p><strong>The Statistics Tab</strong></p>
    <p>Here you can inspect the deck you've made. On the left side you can create sample starting hands. Just press 'Start' to draw six cards and 'Draw' to draw additional cards. <br/>
    This should give you an impression of what a first turn would look like and what kind of opening strategies suit a deck. Be sure to press 'Start' after every change to the deck, as it is not updated automatically.</p>
    <p><strong>Press the "Refresh Charts" button to display several graphs visualizing the card cost as well as the division of spheres and card types in the deck.</strong></p>
    <p>Clicking on either a sphere or a card type will update to other two graphs to reflect only the cards from that particular sphere or type.
    After any change to the deck or after loading a new deck you'll have to press 'Refresh' again to update the graphs. </p>
  </div>
  <script src="Chart.js"></script>
  <script>
    Chart.defaults.global.animation=false;
  </script>

  <div class="row stats-tab">
    <div class="col-sm-5">
      <h2 class="text-center"> Sample Hand </h2>
      <div class="panel panel-default stats-panel">
        <div class="panel-heading clearfix">
          <button class="btn btn-primary pull-left" ng-click="stats.reshuffle()">Starting Hand</button>
          <button class="btn btn-default pull-right" ng-click="stats.draw()">Draw Card</button>
        </div>
        <ul class="list-group stats-list">
          <li ng-repeat="card in stats.hand track by $index" ng-mouseover="deckC.changepreview(card)" class="list-group-item c{{card.sphere}}">
            {{card.name}}
            <button class="btn btn-default btn-xs pull-right" ng-click="stats.playCard($index)">Play Card</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-7">
      <button class="btn btn-warning btn-block" ng-click="stats.refresh()">Refresh Charts</button>
      <div class="panel panel-default">
        <div class="panel-body">
          <canvas id="cost"></canvas>
        </div>
        <div class="panel-footer">
          <h2 class="panel-title text-center">Cost</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title text-center">Spheres</h2>
        </div>
        <div class="panel-body">
          <canvas id="spheres"></canvas>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title text-center">Type</h2>
        </div>
        <div class="panel-body">
          <canvas id="type"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
