<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-bell"></span> Updates</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">February 25 2016
      <p>- Updated to the latest version of Seastan's recommendation system.
      </p>
    <li class="list-group-item">February 13 2016
      <p>
        - Added Grey Havens OCTGN IDs
      </p>
    <li class="list-group-item">February 11 2016
      <p>
        - Added seastan's recommendation system<br/>
        - Added The Grey Havens<br/>
        - Added decknotes, mainly for OCTGN.
      </p>
    <li class="list-group-item">January 14 2016
      <p>- 2 Core Set switch, thanks to Chris Stanford!<br/>
      - OCTGN IDs for Battle of Card Dum and Dread Realm</p></li>
    <li class="list-group-item">December 18 2015
      <p>- Added The Dread Realm</p>
    <li class="list-group-item">December 11 2015
      <p>- Added plaintext to the deck export<br/>
      - Cards that are unavailable in OCTGN are removed when exporting to OCTGN format, to prevent errors.</p>
    <li class="list-group-item">November 19 2015
      <p>- Added the ability to deckbuild with single core set quantities</p>
    <li class="list-group-item">November 13 2015
      <p>- Added The Battle of Carn Dûm</p>
    <li class="list-group-item">September 30 2015
      <p>- Added The Treachery of Rhudaur<br/>
      - Added OCTGN ids for Treachery of Rhudaur and Across the Ettenmoors.</p>
    <li class="list-group-item">September 2 2015
      <p>- Added Accros the Ettenmoors</p>
    <li class="list-group-item">August 13 2015
      <p>- Added The Land of Shadow OCTGN ids</p>
    <li class="list-group-item">August 12 2015
      <p>- Added Escape From Mount Gram OCTGN ids</p>
    <li class="list-group-item">July 30 2015
      <p>- Added The Land of Shadow</p>
    <li class="list-group-item">July 28 2015
      <p>- Added Escape from Mount Gram</p>
    <li class="list-group-item">July 7 2015
      <p>- Exported decks now contain links to Hall of Beorn (Please let me know if any don't work!)<br/>
      - Added Wastes of Eriador OCTGN ids</p>
    <li class="list-group-item">July 1 2015
      <p>- Added The Wastes of Eriador<br/>
      - Bugfix: Dúnedain now formatted correctly in text mode.</p>
    <li class="list-group-item">May 26 2015
      <p>- Bugfix: Export wasn't sorting cards correctly</p>
    <li class="list-group-item">May 12 2015
      <p>- Added OCTGN IDs for The Treason of Saruman
      <br/>- Updates page</p>
    <li class="list-group-item">May 6 2015
      <p>- Added shift-clicking for the filterbuttons<br/>
      - Changed sorting within decks (by sphere first, then name)</p>
    <li class="list-group-item">April 30 2015
      <p>- Removed deckname 30 characters limit<br/>
      - Image preloading</p>
    <li class="list-group-item">April 27 2015
      <p>- Ranger of the North added, is required on OCTGN when using Ranger Summons</p>
    <li class="list-group-item">April 23 2015
      <p>- Added The Treason of Saruman</p>
    <li class="list-group-item" >April 21 2015
      <p>- Added OCTGN support</p>
    <li class="list-group-item">April 19 2015
      <p>- Searching by card text and trait</p>
    <li class="list-group-item">April 17 2015
      <p>- Added statistics</p>
    <li class="list-group-item">April 14 2015
      <p>- Search by card name</p>
    <li class="list-group-item">April 13 2015
      <p>- Initial release</p>
  </ul>
</div>
