/* Stuff affecting the whole site */

/* Speed up collapse animation on mobile devices */
@media(max-width:767px) {
  .collapsing {
    -webkit-transition: height 0.01s;
    -moz-transition: height 0.01s;
    -ms-transition: height 0.01s;
    -o-transition: height 0.01s;
    transition: height 0.01s;
  }
}

/* Required for fixed top nav bar */
body {
  padding-top: 70px;
}

/* Removes bottom margin from all bootstrap tables */
.table {
  margin-bottom: 0px !important;
}

/* Colours used for the cardnames */
.c1leadership {
  color: purple;
}
.c2tactics {
  color: red;
}
.c3spirit {
  color: blue;
}
.c4lore {
  color: green;
}
.c5neutral {
  color: #555;
}
.c6baggins {
  color: yellow;
  text-shadow: 1px 1px grey;
}
.c7fellowship {
  color: orange;
}

/* Used for the unique card icon */
.unique {
  height:10px;
  width:auto;
  margin-bottom: 2px;
}

.preload {
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}


/* mydecks.html */
.decknotes-area {
  margin-top: 10px;
}


/* deck.html */
tr.card td {
  vertical-align: middle !important;
  font-size: 16px;
  padding: 6px !important;
}

.panel-title img.img-cardtype {
  margin-left: 3px;
  margin-top: -3px;
}


/* cards.html */
table.cardlist td {
  vertical-align: middle !important;
}

button.disabled {
  background-color: #f5f5f5 !important;
}

.img-sphere {
  max-width: 18px;
  max-height: 18px;
}

.img-cardtype {
  width: 22px;
  height: 22px;
}

.form-group {
  margin-bottom: 7px;
}


/* Filter buttons from CalebKester/lotrdb@75d94a0b473a13f30197c12883837bd953a6a820 */
.filter-button {
  position: relative;
  -webkit-flex: 0 0 34px;
      -ms-flex: 0 0 34px;
          flex: 0 0 34px;
  background: url(/img/encounter.png) 50% 50%;
  background-size: 100% 100%;
  padding: 3px;
  border: 0;
  width: 34px;
  height: 34px;
  opacity: 0.24;
  outline: 0;
  transition: all 0.2s ease-out;
}

.filter-button:hover, .filter-button:focus {
  opacity: 0.5;
}

.filter-button.selected {
    opacity: 1;
}

.filter-button img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 18px;
  max-height: 18px;
}

.filter-button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  fill: #fff;
}


/* header.html */
.navbar-brand > img {
  height: 30px;
  margin-top: -5px;
  padding-right: 10px;
}

.navbar {
  background-color: #313843;
}


/* packs.html */
.pack-panel h2 {
  padding-top: 6.5px;
  padding-bottom: 6.5px;
}

.pack-panel .panel-heading > button {
  margin-right: 5px;
}

.pack-panel .panel-heading {
  padding: 5px 0px 5px 15px;
}

.pack-panel .form-control {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.pack-panel .panel-body {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}


/* stats.html */
canvas {
  width: 100%;
  height: auto;
}

.stats-panel .panel-heading {
  padding: 6px 10px 6px 10px;
}

.stats-panel li {
  font-size: 16px;
  padding: 8px !important;
}

.stats-tab h2 {
  margin-top: 0px;
}

.stats-tab .btn-block {
  margin-bottom: 10px !important;
}

.stats-list {
  height: 225px;
  overflow-y: scroll;
}


/* suggested.html */
.suggested-button {
  margin-bottom: 10px !important;
}

.suggested-table > td {
  vertical-align: middle !important;
  font-size: 16px;
}
